{% extends "base.html" %}

{% block subtitle %}Home{% endblock %}

{% block content %}
<h1>Flask-Sock Demo with HTMX</h1>

<p>Type a message and press Enter. Type <b>close</b> to end the connection.</p>

<div hx-ext="ws" ws-connect="/echo">
    <form ws-send="submit">
        <input type="text" name="message" placeholder="Enter your message">
    </form>
    {% include '_messages.html' %}
</div>

<style>
.messages{
    display: flex;
    flex-direction: rows;
} 
.message{
    margin: 5px;
}
</style>
{% endblock %}
