{% extends "base.html" %}

{% block subtitle %}Login{% endblock %}

{% block content %}
<div class="box">
    <h3>Login</h3>
    <form class="log_form" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a  href="{{ url_for('auth.register') }}">Register here</a>.</p>
</div>
{% endblock %}
