<div id="poker-table" hx-swap-oob="innerHTML">
  <h3>{{general_data.table_name}} table</h3>
  <div id="stakes"> Blinds: {{general_data.small_blind_amount}} / {{general_data.big_blind_amount}}</div>
  <div id="street">Street : {{gamestate.street}}</div>
  <div class="game-container">
    {% for player in gamestate.players %}
    <div class="player"
      style="left: calc(50% + ( 50% * {{cos(-player.angle)}} ));
      top: calc(50% - ( 50% * {{sin(-player.angle)}} ));">
      <div class="player-box"></div>
      <div class="player-name">{{player.name}}</div>
      <div class="player-stack">{{player.chips|round(1)}} BB</div>
      <div class="player-cards">
        {% for card in player.cards %}
        <img class="cards" src ="../static/images/cards/{{card}}.png" alt="Card">
        {% endfor %}
      </div>
    </div>

    {% if player.dealer %}
    <div class="dealer-button"
      style="left: calc(50% + ( 32% * {{cos(-player.angle+0.2)}} ));
      top: calc(45% - ( 32% * {{sin(-player.angle+0.2)}} ));">
      D
    </div>
    {% endif %}

    {% if player.bet > 0%}
    <div class="playerBet"
      style="left: calc(50% + ( 32% * {{cos(-player.angle)}} ));
      top: calc(45% - ( 32% * {{sin(-player.angle)}} ));">
      {{player.bet|round(1)}}
    </div>
    {% endif %}

    {% endfor %}
    <!-- Community Cards -->
    <div class="community-cards">
      {% for card in gamestate.board_cards %}
      <img src="../static/images/cards/{{card}}.png" class="card" alt="Card" />
      {% endfor %}
    </div>
    <!-- Pot -->
    <div class="pot">
      Pot: {{gamestate.pot|round(1)}} BB
    </div>
  </div>

    <!-- Action Buttons -->

    <div class="action-buttons">
      {% if gamestate.player_turn != None %}
        {% if gamestate.player_turn %}
          {% if gamestate.can_check %}
          <button hx-post="/action/{{ general_data.id }}/Check">Check</button>
          {% else %} 
          <button hx-post="/action/{{ general_data.id }}/Fold">Fold</button>
          <button hx-post="/action/{{ general_data.id }}/Call">Call</button>
          {% endif %}
          {% if gamestate.can_bet %}
          <button hx-post="/action/{{ general_data.id }}/Bet" hx-prompt="Enter amount:">Bet</button>
          {% else %}
          <button hx-post="/action/{{ general_data.id }}/Raise" hx-prompt="Enter amount:">Raise</button>
          {% endif %}
        {% else %}
          <p>Wait for your turn</p>
          <p>It's the turn of {{ gamestate.current_turn_name}}</p>
        {% endif %}
      {% endif %}
    </div>

</div>

